.container-svg.svg-footer path {
    fill: var(--color2);
  }
  
  .container-svg.svg-footer {
    margin-top: 1px;
    background-image: linear-gradient( to top, var(--color2) 10%, var(--color1) 10% );
  }
  
  .create-profile {
    width: 600px;
    height: 550px;
    background-color: var(--color4);
    border: 2px solid;
    border-radius: 36px;
    display: grid;
    justify-items: center;
    grid-template-areas:
        '.'
        'title'
        '.'
        'fname'
        '.'
        'lname'
        '.'
        'address'
        '.'
        'phone'
        '.'
        'createbtn'
        '.';
    grid-template-rows: auto 40px auto 60px auto 60px auto 60px auto 60px auto 40px auto;
    margin: 20px auto 0;
  }
  
  .profile-title {
    grid-area: title;
    margin: 0;
    padding: 0;
  }
  
  .create-profile .profile-fname {
    grid-area: fname;
    width: 70%;
    position: relative;
  }
  
  .create-profile .profile-fname::after {
    font-weight: bold;
    width: 100px;
    height: 30px;
    position: relative;
    background-color: var(--color4);
    box-sizing: border-box;
    display: flex;
    top: -70px;
    border-radius: 30%;
    align-items: center;
    justify-content: center;
  }
  
  .create-profile .profile-fname .profile-fname-input {
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid var(--blue);
    border-radius: 20px;
    font-size: 16px;
  }
  
  .create-profile .profile-fname svg {
    content: var(--pcontent);
    font-weight: bold;
    font-size: 36px;
    width: 30px;
    height: 30px;
    color: red;
    box-sizing: border-box;
    position: absolute;
    top: 13px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .create-profile .profile-lname {
    grid-area: lname;
    width: 70%;
    position: relative;
  }
  
  .create-profile .profile-lname::after {
    font-weight: bold;
    width: 100px;
    height: 30px;
    position: relative;
    background-color: var(--color4);
    box-sizing: border-box;
    display: flex;
    top: -70px;
    border-radius: 30%;
    align-items: center;
    justify-content: center;
  }
  
  .create-profile .profile-lname .profile-lname-input {
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid var(--blue);
    border-radius: 20px;
    font-size: 16px;
  }
  
  .create-profile .profile-lname svg {
    content: var(--pcontent);
    font-weight: bold;
    font-size: 36px;
    width: 30px;
    height: 30px;
    color: red;
    box-sizing: border-box;
    position: absolute;
    top: 13px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .create-profile .profile-address {
    grid-area: address;
    width: 70%;
    position: relative;
  }
  
  .create-profile .profile-address::after {
    font-weight: bold;
    width: 100px;
    height: 30px;
    position: relative;
    background-color: var(--color4);
    box-sizing: border-box;
    display: flex;
    top: -70px;
    border-radius: 30%;
    align-items: center;
    justify-content: center;
  }
  
  .create-profile .profile-address .profile-address-input {
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid var(--blue);
    border-radius: 20px;
    font-size: 16px;
  }
  
  .create-profile .profile-address svg {
    content: var(--pcontent);
    font-weight: bold;
    font-size: 36px;
    width: 30px;
    height: 30px;
    color: red;
    box-sizing: border-box;
    position: absolute;
    top: 13px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .create-profile .profile-phone {
    grid-area: phone;
    width: 70%;
    position: relative;
  }
  
  .create-profile .profile-phone::after {
    font-weight: bold;
    width: 100px;
    height: 30px;
    position: relative;
    background-color: var(--color4);
    box-sizing: border-box;
    display: flex;
    top: -70px;
    border-radius: 30%;
    align-items: center;
    justify-content: center;
  }
  
  .create-profile .profile-phone .profile-phone-input {
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid var(--blue);
    border-radius: 20px;
    font-size: 16px;
  }
  
  .create-profile .profile-phone svg {
    content: var(--pcontent);
    font-weight: bold;
    font-size: 36px;
    width: 30px;
    height: 30px;
    color: red;
    box-sizing: border-box;
    position: absolute;
    top: 13px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .create-profile .create-btn {
    grid-area: createbtn;
    font-weight: bold;
    font-size: 16px;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 13px;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 0px #00000087;
  }
  
  
  .create-profile .profile-fname .profile-fname-input:focus-visible,
  .create-profile .profile-lname .profile-lname-input:focus-visible,
  .create-profile .profile-address .profile-address-input:focus-visible,
  .create-profile .profile-phone .profile-phone-input:focus-visible {
    border: 2px solid var(--blue);
    outline: var(--blue) 1px solid;
  }
