{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block otherCss %} 
<link rel="stylesheet" href="{% static 'css/create_profile.css' %}">
{% endblock %}

{% block header %} 
{% include 'parts/_navbar.html' %}
{% endblock %}

{% block content %}
<div class="body-container">
  <div class="body-header">
    {% include 'parts/_messages.html' %}
  </div>
    <form action="{% url 'createprofile' %}" method="post">
        {% csrf_token %}
      <div class="create-profile">
        <h1 class="profile-title">{% trans "Create profile" %}</h1>
        <div class="profile-fname">
          <input
            type="text"
            id="profile-fname-input"
            name="profile-fname"
            class="profile-fname-input"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </div>
        <div class="profile-lname">
          <input
            type="text"
            id="profile-lname-input"
            name="profile-lname"
            class="profile-lname-input"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </div>
        <div class="profile-address">
          <input
            type="text"
            id="profile-address-input"
            name="profile-address"
            class="profile-address-input"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </div>
        <div class="profile-phone">
          <input
            type="text"
            id="profile-phone-input"
            name="profile-phone"
            class="profile-phone-input"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </div>
        <input type="submit" value={% trans "create profile" %} name="btncreate" class="create-btn" id="createBtn" disabled />
      </div>
    </form>
    <svg
      class="container-svg svg-footer"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 1440 126"
      xml:space="preserve"
    >
      <path
        class="main-path"
        d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"
      ></path>
    </svg>
    {% include 'parts/_footer.html' %}
  </div>
{% endblock %}
{% block otherJs %}
<script type="text/javascript" src="{% static 'js/create_profile.js' %}"></script>
{% endblock %}
