body {
  direction: ltr;
  font-family: "Open Sans", sans-serif;
}

.login-nav .actions-nav .language {
  margin-right: var(--marginlanguage);
  margin-left: unset;
  left: var(--positionlanguage);
  right: unset;
}

.login-nav .actions-nav .log-sign,
.footer .follow-us {
  flex-direction: row;
}

.container-svg,
.best-sellers-container-full,
.body-header,
.new-books-container-full,
.footer-container {
  margin-right: unset;
  margin-left: -10vw;
}

.body-header {
  direction: ltr;
}

.navbar .nav-logo:hover {
  transform-origin: left;
}

.login-page .login-email::after,
.login-page .login-password::after,
.signin-page .signin-username::after,
.signin-page .signin-email::after,
.signin-page .signin-password::after,
.signin-page .signin-repassword::after {
  right: unset;
  left: 10%;
}

.login-page .login-email svg,
.login-page .login-password svg,
.signin-page .signin-username svg,
.signin-page .signin-email svg,
.signin-page .signin-password svg,
.signin-page .signin-repassword svg {
  right: unset;
  left: calc(50% - 15px + 500px * 0.3);
}

.login-page .login-password .login-password-input,
.login-page .login-email .login-email-input,
.signin-page .signin-username .signin-username-input,
.signin-page .signin-email .signin-email-input,
.signin-page .signin-password .signin-password-input,
.signin-page .signin-repassword .signin-repassword-input,
.set-new-password .new-password .new-password-input,
.set-new-password .old-password .old-password-input,
.set-new-password .new-repassword .new-repassword-input {
  padding-left: 10px;
  padding-right: 40px;
}

.login-page .forget,
.signin-page .agree {
  padding-right: unset;
  padding-left: 15%;
}

.login-page .ou::before,
.signin-page .sign-ou::before {
  left: calc(50% - 25px);
  right: unset;
}

.bi-caret-right-fill path {
  d: path(
    "m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
  );
}

.search-input {
  padding-left: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.categorie-card .categorie-head h2 span {
  padding-left: 5px;
  padding-right: unset;
}


@keyframes hidden {
  from {
    left: 0vw;
  }
  to {
    left: -80vw;
  }
}

@keyframes visible {
  from {
    left: 80vw;
  }
  to {
    left: 0vw;
  }
}

.daily-offer-card {
  left: 80vw;
}


.daily-offer-card.initial {
  left: 0;
}

.daily-offer-card.visible {
  animation: visible 3s;
  left: 0;
}

.daily-offer-card.not-active {
  left: 80vw;
  transition: left 2s;
  /* transition: all 5s; */
}

.search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}


.search-radio-container .search-radio:first-child .search-label {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-radio-container .search-radio:last-child .search-label {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.profile .profile-username::after {
  content: "userName";
  left: 10%;
}

.profile .profile-email::after {
  content: "email";
  left: 10%;
}

.profile .profile-fname::after {
  content: "first name";
  left: 10%;
}

.profile .profile-lname::after {
  content: "last name";
  left: 10%;
}

.profile .profile-address::after {
  content: "address";
  left: 10%;
}

.profile .profile-phone::after {
  content: "phone";
  left: 10%;
}

.profile .profile-fname svg {
  left: calc(50% - 15px + 600px * 0.3);
}

.profile .profile-lname svg {
  left: calc(50% - 15px + 600px * 0.3);
}

.profile .profile-address svg {
  left: calc(50% - 15px + 600px * 0.3);
}

.profile .profile-phone svg {
  left: calc(50% - 15px + 600px * 0.3);
}

.profile .profile-username .profile-username-input,
.profile .profile-email .profile-email-input,
.profile .profile-fname .profile-fname-input,
.profile .profile-lname .profile-lname-input,
.profile .profile-address .profile-address-input,
.profile .profile-phone .profile-phone-input {
  padding-left: 10px;
}

.basket-container .basket-header .basket-label {
  width: 60px;
}

.basket-container .delivery-to span:last-child {
  padding-right: 20px;
}

.basket-container .basket-total span:first-child,
.basket-container .delivery-price span:first-child,
.basket-container .total-amount span:first-child,
.basket-container .delivery-amount span:first-child {
    padding-left: 20px;
}

.login-page .login-email {
  --xxcontent: "Username";
}

.login-page .login-password {
  --yycontent: "Password";
}

.signin-page .signin-username {
  --uucontent: "Username";
}

.signin-page .signin-email {
  --eecontent: "Email";
}

.signin-page .signin-password {
  --ppcontent: "Password";
}

.signin-page .signin-repassword {
  --rrcontent: "re-enter password";
}

.create-profile .profile-fname::after {
  content: "first name";
  left: 10%;
}

.create-profile .profile-lname::after {
  content: "last name";
  left: 10%;
}

.create-profile .profile-address::after {
  content: "address";
  left: 10%;
}

.create-profile .profile-phone::after {
  content: "phone";
  left: 10%;
}

.create-profile .profile-fname svg,
.create-profile .profile-lname svg,
.create-profile .profile-address svg,
.create-profile .profile-phone svg,
.set-new-password .old-password svg,
.set-new-password .new-password svg,
.set-new-password .new-repassword svg,
.select-account .select-account-code svg,
.confirm-owner .email-code svg,
.set-new-password .new-password svg,
.set-new-password .new-repassword svg{
  /* left: calc(50% - 15px + 600px * 0.3); */
  right: 5px;
}

.create-profile .profile-fname .profile-fname-input,
.create-profile .profile-lname .profile-lname-input,
.create-profile .profile-address .profile-address-input,
.create-profile .profile-phone .profile-phone-input {
  padding-left: 10px;
}

.confirm-email .email-code {
  --activation-content: "activation code"
}

.confirm-email .email-code .email-code-input {
  padding-left: 10px;
}

.confirm-email .email-code::after {
  left: 10%;
  width: 160px;
}

.confirm-owner .email-code {
  --activation-content: "reset code"
}

.confirm-owner .email-code .email-code-input {
  padding-left: 10px;
}

.confirm-owner .email-code::after {
  left: 10%;
  width: 100px;
}

.set-new-password .old-password {
  --activation-content: "old password"
}

.set-new-password .old-password .old-password-input {
  padding-left: 10px;
}

.set-new-password .old-password::after {
  left: 10%;
  width: 160px;
}

.set-new-password .new-password {
  --activation-content: "password"
}

.set-new-password .new-password .new-password-input {
  padding-left: 10px;
}

.set-new-password .new-password::after {
  left: 10%;
  width: 160px;
}

.set-new-password .new-repassword {
  --activation-content: "re-password"
}

.set-new-password .new-repassword .new-repassword-input {
  padding-left: 10px;
}

.set-new-password .new-repassword::after {
  left: 10%;
  width: 160px;
}

.select-account .select-account-code {
  --activation-content: "email"
}

.select-account .select-account-code .select-account-input {
  padding-left: 10px;
}

.select-account .select-account-code::after {
  left: 10%;
  width: 100px;
}


/* extra large */
@media screen and (max-width: 1400px) {
  
}


/* large */
@media screen and (max-width: 1200px) {
  .categorie-card {
    padding: 0 0 0 10px;
  }
}


/* medium */
@media screen and (max-width: 1025px) {
  
}


/* small */
@media screen and (max-width: 864px) {
  
}


/* extra small */
@media screen and (max-width: 620px) {
  
  .container-svg,
  .best-sellers-container-full,
  .body-header,
  .new-books-container-full,
  .categories-container-full,
  .footer-container {
      margin-left: 0;
      margin-right: 0;
  }

  .body-container {
    width: 100%;
    margin: 0;
  }

  .side-navbar {
    right: 0;
  }

  .side-navbar .sidenav-logo {
    border-left: solid 5px #0cb70c;
    padding-left: 10px;
  }

  .login-page .login-email svg,
  .login-page .login-password svg,
  .signin-page .signin-username svg,
  .signin-page .signin-email svg,
  .signin-page .signin-password svg,
  .signin-page .signin-repassword svg {
    right: unset;
    left: calc(100% - 40px);
    top: calc(50% - 15px);
  }
}


/* extra extra small */
@media screen and (max-width: 480px) {
  .login-nav .actions-nav .log-sign {
    right: 0;
    left: unset;
  }

  ul.show-user {
    left: 110px;
  }

  .login-page .forget, .signin-page .agree {
    padding-right: unset;
    padding-left: 5%;
  }
}