{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block otherCss %} 
<link rel="stylesheet" href="{% static 'css/select_account.css' %}">
{% endblock %}

{% block header %} 
{% include 'parts/_navbar.html' %}
{% endblock %}

{% block content %}
<div class="body-container">
  <div class="body-header">
    {% include 'parts/_messages.html' %}
  </div>
  {% get_current_language as lang %}
  <form action="{% url 'checkemail' %}" method="post">
    {% csrf_token %}
    <div class="select-account">
      <h1 class="select-account-title">{% trans "select account" %}</h1>
      <div class="select-account-image">
        <img src="{% static 'images/mail.png' %}" alt="select account">
      </div>
      <div class="select-account-code">
        <input
          type="text"
          name="selectaccount"
          id="selectaccount"
          placeholder="example@gmail.com"
          class="select-account-input"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-x disabled"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </div>
      <div class="actions">
        <input type="submit" value="{% trans "search" %}" name="selectaccountcode" id="selectaccountbtn" class="select-account-btn"/>
      </div>
    </div>
  </form>
    <svg
        class="container-svg svg-footer"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1440 126"
        xml:space="preserve"
    >
        <path
        class="main-path"
        d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"
        ></path>
    </svg>
{% include 'parts/_footer.html' %}
</div>
{% endblock %}

{% block otherJs %}
<script type="text/javascript" src="{% static 'js/select_account.js' %}"></script>
{% endblock %}
